##example for Q2

In [10]:
i= int(input("input a number"))
    # Use the print keyword to display the result
if i%2==0:
    print(f"{i} iS even")
else:
     print(f"{i} iS odd")

input a number 3

3 iS odd

##example for Q3 1. IMMUTABLE INTEGER & STRINGS

In [3]:
s1 = "hello"
s2 = s1
s1 = "world"
print(s1)  
print(s2)

world
hello

In [2]:
a = 10
b = a
a += 5
print(a)  
print(b)

15
10

##EXAMPLE FOR MUTABLE -list & sets

In [4]:
l1 = [1, 2, 3]
l2 = l1
l1.append(4)
print(l1)  
print(l2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [5]:
s1 = {1, 2, 3}
s2 = s1
s1.add(4)
print(s1) 
print(s2)

{1, 2, 3, 4}
{1, 2, 3, 4}

##Q4 OPERATOR IN PYTHON

##ARITHMETIC OPERATOR

In [10]:
a = 60
b= 12
print(a+b)
print(a*b)
print(a**b)
print(a/b)
print(a%b)

72
720
2176782336000000000000
5.0
0

##Comparison operator

In [12]:
a = 100
b = 70
print(a == b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

##logical operator

In [34]:
x=False
y=True
print(x and y)
print(x or y)
print(not y )

False
True
False

##assignment operator

In [33]:
s=69
s+=7

print (s)
s-=8

print (s)

76
68

##bitwise operator

In [40]:
a = 5  
b = 3  
print (result == a & b)
print (result == a | b)
print (result == a ^ b)
print (result == ~a)

False
False
False
True

##Q5 TYPE CAST

In [1]:
x = 10 # Integer
y = " apples"

result = str(x) + y # Convert integer to string
print(result)

10 apples

##STRINGS TO INTEGERS

In [12]:
age = "25" 
print(age +" 5") 
age_int = int(age)
print(age_int + 5)

25 5
30

In [4]:
z = 8.75
z_int = int(z)
print(z_int)

8

In [5]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list) 
print(my_tuple)

(1, 2, 3)

##CONDITIONAL STATEMEN . if StatementT

In [13]:
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [15]:
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x is less than or equal to 5

In [22]:
x = 10
y = 20
if x > 5:
    if y > 15:
        print("x is greater than 5 and y is greater than 15")

x is greater than 5 and y is greater than 15

In [23]:
x = 15
y = 10
if x > 10 and y < 20:
    print("Both conditions are true") 

if not x == 10:
    print("x is not equal to 10")

Both conditions are true
x is not equal to 10

##loops in Python

In [24]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [25]:
x = 0
while x < 5:
    print(x)
    x += 1

0
1
2
3
4